#quicklaunchcontainer {
  position:    absolute;
  left:        50%;
  top:         30%;
}

form#quicklaunch {
  position:    absolute;
  z-index:     9001;
  width:       450px;
  height:      128px;
  background:  url("bar.png") top left no-repeat;
  margin:      -64px 0 0 -225px;
}

form#quicklaunch input {
  position:    absolute;
  z-index:     9002;
  left:        128px;
  top:         49px;
  width:       278px;
  height:      28px;
  background:  transparent;
  border:      none;
  font-size:   16px; 
  font-family: helvetica,arial,sans;
  color:       #222;
}

div#quicklaunchdrawer {
  height:      400px;
  width:       438px;
  background:  url('backpanel.png');
  position:    absolute;
  z-index:     8000;
  margin:      -32px 0 0 -219px;
}
