
form#quicklaunch {
  width:       450px;
  height:      128px;
  background:  url("bar.png") top left no-repeat;
  position:    absolute;
  z-index:     9001;
  left:        50%;
  top:         30%;
  margin:      -64px 0 0 -225px;
}

form#quicklaunch input {
  position:    absolute;
  left:        128px;
  top:         49px;
  width:       278px;
  height:      28px;
  background:  transparent;
  border:      none;
  font-size:   16px; 
  font-family: helvetica,arial,sans;
  color:       #222;
}